.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add {
  color: orange;
  background-color: #1b2f31;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 250px;
  font-size: large;
  font-weight: 600;
  border-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #60605e;
}

form {
  background: white;
  padding: 10px;
  border-radius: 20px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.2s ease-in-out;
}

input {
  background: transparent;
  width: 300px;
  padding: 10px;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: orange;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: medium;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

p {
  font-weight: 500;
  color: orange;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
