li {
  display: flex;
  list-style: none;
  gap: 5px;
}
.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.delete {
  color: orange;
  background-color: #1b2f31;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 60px;
  font-size: medium;
  font-weight: 400;
  border-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
